<!DOCTYPE html>
<head>
    <title>Let's do this</title>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}css/simple-sidebar.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <style>

        .link {
            fill: none;
            stroke: #666;
            stroke-width: 1.5px;
        }

        #licensing {
            fill: green;
        }

        .link.licensing {
            stroke: green;
        }

        .link.resolved {
            stroke-dasharray: 0, 2 1;
        }

        circle {
            fill: #ccc;
            stroke: #333;
            stroke-width: 1.5px;
        }

        text {
            font: 10px sans-serif;
            pointer-events: none;
            text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
        }

    </style>
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <div>
                    noMoon Web Crawler
                </div>
            </li>
            <li>
                <label for="threadsNumber">ThreadsNumber</label>
                <input id="threadsNumber" value="5"/>
            </li>
            <li>
                <label for="maxNumber">MaximumNumberOfSites</label>
                <input id="maxNumber" value="15"/>
            </li>
            <li>
                <label for="seedHosts">SeedHosts</label>
                <textarea name="seedHosts" id="seedHosts" cols="30" rows="10">microso.me</textarea>
            </li>
            <li>
                <button id="submitCrawlerParams">Crawl</button>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="right-sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <span>Node#</span>
                <span id="nodeNum"></span>
            </li>
            <li>
                <div class="right-sidebar-title">URL:</div>
                <div id="urlOfNode" class="right-sidebar-content"></div>
            </li>
            <li>
                <div class="right-sidebar-title">NumberOfIncomeLinks:</div>
                <div id="numOfIncome" class="right-sidebar-content"></div>
            </li>
            <li>
                <div class="right-sidebar-title">NumberOfOutgoingLinks:</div>
                <div id="numOfOutcome" class="right-sidebar-content"></div>
            </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<script>

    $("#submitCrawlerParams").click(function () {
        $("#page-content-wrapper").empty();
        $.get("politeCrawler", {
            seedHosts: $("#seedHosts").val(),
            threadsNumber: $("#threadsNumber").val(),
            maxNumber: $("#maxNumber").val()
        }).done(function (data) {
            console.log(data);


                var width = 960, height = 500;

                var color = d3.scale.category20();

                var force = d3.layout.force()
                        .nodes(data.nodes)
                        .links(data.links)
                        .size([width, height])
                        .linkDistance(60)
                        .charge(-300)
                        .on("tick", tick)
                        .start();

                var svg = d3.select("#page-content-wrapper").append("svg")
                        .attr("width", width)
                        .attr("height", height);

// Per-type markers, as they don't inherit styles.
                svg.append("defs").selectAll("marker")
                        .data(["suit", "licensing", "resolved"])
                        .enter().append("marker")
                        .attr("id", function (d) {
                            return d;
                        })
                        .attr("viewBox", "0 -5 10 10")
                        .attr("refX", 15)
                        .attr("refY", -1.5)
                        .attr("markerWidth", 6)
                        .attr("markerHeight", 6)
                        .attr("orient", "auto")
                        .append("path")
                        .attr("d", "M0,-5L10,0L0,5");

                var path = svg.append("g").selectAll("path")
                        .data(force.links())
                        .enter().append("path")
                        .attr("class", function (d) {
                            return "link " + d.type;
                        })
                        .attr("marker-end", function (d) {
                            return "url(#" + d.type + ")";
                        });

                var circle = svg.append("g").selectAll("circle")
                        .data(force.nodes())
                        .enter().append("circle")
                        .style("fill", function(d) { return color(d.group); })
                        .attr("r", 6)
                        .call(force.drag)
                        .on("click", function (d) {
                            $('#nodeNum').text(d.id);
                            $('#numOfIncome').text(d.numberOfIncome);
                            $('#numOfOutcome').text(d.numberOfOutcome);
                            $('#urlOfNode').text(d.url);
                        });

                var text = svg.append("g").selectAll("text")
                        .data(force.nodes())
                        .enter().append("text")
                        .attr("x", 8)
                        .attr("y", ".31em")
                        .text(function (d) {
                            return d.id;
                        });

// Use elliptical arc path segments to doubly-encode directionality.
                function tick() {
                    path.attr("d", linkArc);
                    circle.attr("transform", transform);
                    text.attr("transform", transform);
                }

                function linkArc(d) {
                    var dx = d.target.x - d.source.x,
                            dy = d.target.y - d.source.y,
                            dr = Math.sqrt(dx * dx + dy * dy);
                    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
                }

                function transform(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                }
            });

    });



</script>